<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Web Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <<link href="{{ url_for('display_recipes')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>   
</head>
<body>
    <div class="search">
        <input type="search" name="find" id="search_id" placeholder="rechercher des recettes">
        <button>Search</button>        
    </div>
    <div class="ctn-main">
        {% for item in recipes %}
        <div class="div-recipe">        
            <img src="{{ item['recipe_image']}}" alt="{{ item['recipe_image']}}">
            <a href="{{ item['recipe_url']}}" ><h4>{{ item['recipe_name'] }}</h4></a>
        </div>
        {% endfor %}       
    </div>    
</body>
</html>